/* 
    RESET
*/

/* 
    GENERAL
*/

.my-header {
    height: 50px;
}

.my-aside {
    height: calc(100vh - 50px);
}


/* DEBUG */

/* .debug [class*="container-"] {
    background-color: yellow;
}

.debug .row {
    background-color: lightcoral;
}

.debug [class*="col-"] {
    background-color: lawngreen;
    border: 2px dashed aqua;
} */