/* 
    RESET
*/

/* 
    GENERAL
*/

:root {
    --my-aside-wdt: 50px;
    --my-aside-hgt: calc(100vh - var(--my-header-hgt));
    --my-header-hgt: 80px;
    --my-main-wdt: calc(100% - var(--my-aside-wdt));

}

.my-header {
    height: var(--my-header-hgt);
}

.my-aside {
    height: var(--my-aside-hgt);
    width: var(--my-aside-wdt);
}

.my-main {
    width: var(--my-main-wdt);
}




/* media query MD per side nav */
@media screen and (min-width:769px) {
    :root {
        --my-aside-wdt: 150px;
    }
}


/* DEBUG */

/* .debug [class*="container-"] {
    background-color: yellow;
}

.debug .row {
    background-color: lightcoral;
}

.debug [class*="col-"] {
    background-color: lawngreen;
    border: 2px dashed aqua;
} */